<a href="https://colab.research.google.com/github/nes-a/unit3_Project/blob/main/1_Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/nes-a/unit3_Project/blob/main/Logo.png?raw=1" width="100" align="left"/>

# <center> Unit 3 Project </center>
#  <center> First section : Data cleaning  </center>

In this notebook you will be cleaning your dataset and making sure it's fully ready for modeling.

The used dataset is [Hepatitis C  dataset](https://www.kaggle.com/fedesoriano/hepatitis-c-dataset)

## Data preparation
As a first step we need to prepare the data :

1. Read the data set as a data frame ( file name is HepatitisCdata.csv)
2. The here are the column of your dataset:
    1) X (Patient ID/No.)
    2) Category (diagnosis) (values: '0=Blood Donor', '0s=suspect Blood Donor', '1=Hepatitis', '2=Fibrosis', '3=Cirrhosis') ( the target )
    3) Age (in years)
    4) Sex (f,m)
    Attributes 5 to 14 refer to laboratory data:
    5) ALB : Albumin Blood Test
    6) ALP : Alkaline phosphatase
    7) ALT : Alanine Transaminase
    8) AST : Aspartate Transaminase
    9) BIL : Bilirubin
    10) CHE : Acetylcholinesterase
    11) CHOL : Cholesterol
    12) CREA : Creatinine
    13) GGT : Gamma-Glutamyl Transferase
    14) PROT : Proteins
    
3. Remember your model only accepts numbers so make sure you deal properly with the missing values and the data types and justify your solution choices

4. Make sure the dataset shape in the end is : rows 615 and  14 columns

5. Once finished save the cleaned dataset as "clean_HepatitisC.csv" file

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#To-Do: read the dataset
data = pd.read_csv('hcvdat0.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  615 non-null    int64
 1   Category    615 non-null    object
 2   Age         615 non-null    int64
 3   Sex         615 non-null    object
 4   ALB         614 non-null    float64
 5   ALP         597 non-null    float64
 6   ALT         614 non-null    float64
 7   AST         615 non-null    float64
 8   BIL         615 non-null    float64
 9   CHE         615 non-null    float64
 10  CHOL        605 non-null    float64
 11  CREA        615 non-null    float64
 12  GGT         615 non-null    float64
 13  PROT        614 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 67.4+ KB

In [ ]:
#To-Do  Start investigating the data types and correcting that
# Provide explanation about each step in Markdown cells
df = data

In [ ]:
# Checking incorrect types
df.dtypes

Unnamed: 0      int64
Category       object
Age             int64
Sex            object
ALB           float64
ALP           float64
ALT           float64
AST           float64
BIL           float64
CHE           float64
CHOL          float64
CREA          float64
GGT           float64
PROT          float64
dtype: object

In [ ]:
# Convert category and sex columns from object to integer using Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
print(df['Category'].unique())

['0=Blood Donor' '0s=suspect Blood Donor' '1=Hepatitis' '2=Fibrosis'
 '3=Cirrhosis']

In [ ]:
le = LabelEncoder()
df['Category'] = le.fit_transform(df['Category'])
print(df['Category'].unique())

[0 1 2 3 4]

In [ ]:
df['Sex'] = le.fit_transform(df['Sex'])
print(df['Sex'].unique())

[1 0]

In [ ]:
df.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [ ]:
df.shape

(615, 14)

> Data types are all numeric Now ! Next we need to deal with missing values for the feature columns

#To-Do list all the columns that contain missing values along with their counts

In [ ]:
# To-Do Start providing solutions for each column that has missing data
# Treat each case seperately
# Hint : no data row should be deleted
# Provide evidence that you filled those missing values after each step

In [ ]:
# List Columns With Missing Values
missing_counts = df.isnull().sum()
missing_counts = missing_counts[missing_counts > 0]
print("Columns with missing values and their counts:")
print(missing_counts)

Columns with missing values and their counts:
ALB      1
ALP     18
ALT      1
CHOL    10
PROT     1
dtype: int64

In [ ]:
# Use median to fill these values
df.fillna({'ALB': df['ALB'].median()}, inplace=True)
# check it's fixed
print(df['ALB'].isnull().sum())

0

In [ ]:
df.fillna({'ALP': df['ALP'].median()}, inplace=True)
print(df['ALP'].isnull().sum())

0

In [ ]:
df.fillna({'ALT': df['ALT'].median()}, inplace=True)
print(df['ALT'].isnull().sum())

0

In [ ]:
df.fillna({'CHOL': df['CHOL'].median()}, inplace=True)
print(df['CHOL'].isnull().sum())

0

In [ ]:
df.fillna({'PROT':df['PROT'].median()}, inplace=True)
print(df['PROT'].isnull().sum())

0

In [ ]:
# Check all missing values have been filled.
missing_counts = df.isnull().sum()
missing_counts = missing_counts[missing_counts > 0]
print("Columns with missing values and their counts:")
print(missing_counts)

Columns with missing values and their counts:
Series([], dtype: int64)

> We have no more missing data
As an optional thing we can also rename the first column as 'index' or "ID" instead of Unnamed

In [ ]:
data.columns

Index(['Unnamed: 0', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST',
       'BIL', 'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

In [ ]:
data.rename(columns={'Unnamed: 0': "ID"}, inplace=True)

In [ ]:
data.columns

Index(['ID', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL',
       'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

### 6. Save the clean dataset :

In [33]:
# Don't forget to drop the index
df.to_csv('clean_HepatitisC.csv', index=False)

In [34]:
pd.read_csv('clean_HepatitisC.csv')

,ID,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,4,62,0,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,4,64,0,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,4,64,0,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,614,4,46,0,33.0,66.2,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,615,4,59,0,36.0,66.2,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [35]:
from google.colab import files
files.download('clean_HepatitisC.csv')